body {
    font-family: Arial, sans-serif;
    background-color: rgb(20, 131, 228);
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; /* Esto asegura que el cuerpo se extienda al menos al 100% de la altura de la ventana */
}

header {
    background-color: rgb(20, 131, 228);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.special {
    background-color: white;
    display: flex;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
}

.special a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
}

.special a:hover {
    color: blue;
}

.car-section {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Espacio entre las tarjetas */
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 400px;
    flex: 1; /* Para que las tarjetas ocupen todo el espacio disponible */
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}

.card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1; /* Para que el contenido se expanda verticalmente */
}

.card-content h2 {
    margin-top: 0;
}

.card-content p.intro {
    color: black;
    margin-bottom: 0;
}

hr {
    margin: 40px 0;
    border: none;
    border-top: 2px solid #ddd;
    width: 100%;
}

