.contenedor {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 100vh; 
    padding: 0 20px; 
  }
  
  .item-contenedor {
    flex: 1; 
  }
  
  .item {
    text-align: center;
    border: 1px solid #000;
    padding: 20px;
    margin: 0 10px; 
  }
  
  .blanco {
    background-color: white; 
  }
  
  .rosa {
    background-color: pink; 
  }
  
  
  