body {
    background-color: pink;
}
header {
    background-color: pink;
    padding: 20px;
    font-family: cursive;


    
  }
  
  header h1 {
    margin-top: 0;
  }
  
  header h2 {
    margin-bottom: 5px;
  }
  
  header h3 {
    margin-top: 0;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    position: relative;
  }
  
  nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fe0ebe;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  nav ul li:hover ul {
    display: block;
  }
  
  nav ul li ul li {
    display: block;
  }
  
  nav ul li ul li a {
    padding: 3px 15px;
  }
  
  nav ul li ul li a:hover {
    background-color: #f0f0f0;
  }
  .card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    transition: all 0.3s ease; 
}

.card:hover {
    position: relative; 
    top: 40px; 
}


.card-image {
    border-radius: 10px;
    display: block;
    margin: 0 auto 15px;
}

.card-content h2 {
    margin: 0;
}

.card-content h3 {
    margin: 5px 0;
}

.card-content p {
    margin: 0;
}

 