
body {
  background-color: #0fabf3; 
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.image-container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.image-container img {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.image-container h3 {
  margin-top: 0;
}

.image-container input {
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

/* Estilos para sección de lo más vendido */
.best-sellers {
  margin-top: 50px;
  text-align: center;
}
