header {
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  header h1 {
    margin-top: 0;
  }
  
  header h2 {
    margin-bottom: 5px;
  }
  
  header h3 {
    margin-top: 0;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    position: relative;
  }
  
  nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fe0ebe;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  nav ul li:hover ul {
    display: block;
  }
  
  nav ul li ul li {
    display: block;
  }
  
  nav ul li ul li a {
    padding: 8px 15px;
  }
  
  nav ul li ul li a:hover {
    background-color: #f0f0f0;
  }
  